.App{
  width: 80vw;
  height:100vh;
  display: flex;
  margin: 0 auto;
}
.App  > div{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App >div:first-child{
  border-right: 1px solid #000;
}